In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv('C:/Users/Admin/Desktop/test projects/ML learn Assem/sales_data.csv')

df.head()

,customer_id,product,model,purchase_date,gender,age,location
0,b5abf5bad806,Coffee Machine,Model C,2023-01-26 14:58:50,Female,19,9
1,b5abf5bad806,Capsules,Capsule 3,2022-05-24 04:19:33,Female,19,9
2,b5abf5bad806,Coffee Machine,Model A,2022-11-25 01:12:47,Female,19,9
3,b5abf5bad806,Capsules,Capsule 4,2024-01-07 16:02:40,Female,19,9
4,b5abf5bad806,Capsules,Capsule 1,2022-07-06 11:25:25,Female,19,9

In [3]:
df.shape

(100000, 7)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 7 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   customer_id    100000 non-null  object
 1   product        100000 non-null  object
 2   model          100000 non-null  object
 3   purchase_date  100000 non-null  object
 4   gender         100000 non-null  object
 5   age            100000 non-null  int64
 6   location       100000 non-null  int64
dtypes: int64(2), object(5)
memory usage: 5.3+ MB

In [5]:
df.model.value_counts()

model
Model C      16761
Model B      16760
Model A      16525
Capsule 3    10016
Capsule 5     9998
Capsule 1     9987
Capsule 2     9986
Capsule 4     9967
Name: count, dtype: int64

In [6]:
df.gender.value_counts()

gender
Male      50191
Female    49809
Name: count, dtype: int64

In [10]:
df.age.value_counts()

age
19    2527
40    2227
33    2222
44    2206
32    2201
      ...
55    1183
75    1123
54     996
78     970
67     868
Name: count, Length: 63, dtype: int64